* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
    line-height: 1.6;


}

#nav-bar {
    position: fixed;
    height: 80px;
    padding: 0 3rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 4px 18px rgba(10,10,10,0.06);
    background: rgba(255, 255, 255, 0.92);
}

#nav-bar h4 {
    font-size: 1.3rem;
    color: #007bff;
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.cart-btn {
    padding: 0.7rem 1.1rem;
    border-radius: 30px;
    background: #007bff;
    border: none;
    color: white;
    font-weight: 600;

}

/* Hero */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#hero .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
    border-radius: 30px;
}

#hero h1{
    font-size: 2.7rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1.2rem;
    text-align: center;
    max-width: 650px;
    margin-bottom: 1.2rem;
    margin-bottom: 1rem;
}
.hero-btn {
    background: #007bff;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 30px;
}

/* Product */

.grid-top {
    padding: 0 2rem;
    font-size: 2rem;
}

.product-grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;

}

.product-card {
    box-shadow: 0 6px 20px rgba(2, 6, 23, 0.04);
    padding: 1rem;
    border-radius: 15px;
}

.product-image {
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
}

.product-name {
    font-weight: 600;
}

.product-description {
    margin-bottom: 1rem;
}

.price-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-button {
    border: none;
    background: #007bff;
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
}

/* Footer */

footer {
    background: #0b1220;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

  /* Cart Modal */
.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    overflow-y: scroll;
    transition: right 0.4s ease;
    background: white;
}

.sidebar.active {
    right: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.sidebarcontainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Cart */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.cart-header {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.closing-btn {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}



.empty-cart-icon {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.empty-cart-text {
    text-align: center;
    color: #666;
    position: relative;
}

.total-cart {
    display: flex;
    flex-direction: column;
    background: #f3f4f6;
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: auto;

}

.total-cart-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.checkout {
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 12px;

}

.product-card-cart {
    display: flex;
    gap: 1rem;
}

.card-cart-img {
    width: 55px;
    height: 55px;
    background: rgb(228, 228, 228);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.card-cart-title {
    font-weight: 500;
}

.checkout-form {
    display: none;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-section {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.form-row {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group {
    color: #333;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
}

.form-group input {
    padding: 0.8rem;
    display: flex;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
}

.close-checkout {
    border: none;
    background: #6c757d;
    color: white;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

#country {
    padding: 0.8rem;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
}

.payment-methods {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.payment-method {
    gap: 1rem;
    border: 2px solid #e0e0e0;
    padding: 0.5rem;
    border-radius: 8px;
}

.payment-method.active {
    border: 2px solid #007AFF;
    background: #f0f8ff;
}

.total-price {
    font-size: 1.6rem;
    font-weight: 700;
}

.place-order-btn {
    background: #34C759;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem;
    border-radius: 10px;
}